.centered{

    margin: auto;
    max-width: 300px;
}

p.nice-font{
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

p.black-font{
    margin-top: 50px;
    color: grey;
    font-size: 20px;
}

p.white-font{
    margin-top: 50px;
    color: grey;
    font-size: 20px;
}